<div class="row justify-content-md-center">
    <div class="col-6">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input id="email" 
                    type="text" 
                    class="form-control"
                    ngModel
                    name="email"
                    #nameCtrl="ngModel"
                    placeholder="Input your email address here"
                    required
                    email>
            </div>
            <p *ngIf="!nameCtrl.valid && nameCtrl.touched">Invalid email</p>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="text" 
                    id="password"
                    ngModel
                    name="password" 
                    #passwordCtl="ngModel"
                    class="form-control"
                    required
                    placeholder="Type your password here (at least 6 chars)"
                    minlength="6">
            </div>
            <p *ngIf="!passwordCtl.valid && passwordCtl.touched">Invalid password</p>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Login</button>
            </div>
        </form>
    </div>
</div>