
<ng-template #leftContent>
    <button mat-icon-button class="hidden-md-up" (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
</ng-template>

<app-navbar [leftContentTemplate]="leftContent" [rightContentTemplate]="navBarRightContent" [title] ="title"></app-navbar>
<!-- Creates a layout with a left-positioned sidenav. -->
<mat-sidenav-container>
    <mat-sidenav #sidebar [opened]="opened" mode="side">
        <!-- pick up the content projected from outside of the component with the selector: div.layout-sidenav -->
        <ng-content select="div.layout-sidenav"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>



