
<ng-template #leftContent>
    <button mat-icon-button class="hidden-md-up" (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
</ng-template>

<!--
<ng-template #rightContent>
    <button mat-icon-button routerLink="settings" class="hidden-sm-down">
      <mat-icon>settings</mat-icon>
    </button>
</ng-template>
-->



<app-navbar [leftContentTemplate]="leftContent" [rightContentTemplate]="navBarRightContent" [title] ="title"></app-navbar>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container>
    <mat-sidenav #sidebar [opened]="opened" mode="side">
        <ng-content select="div.layout-sidenav"></ng-content>
        <!-- 
        <mat-list>
            <mat-list-item> 
                <a routerLink="" class="branding hidden-md-up text-center"><img style="height:25px" src="../assets/logo.png" /> Angular Content</a>
            </mat-list-item>
            <mat-list-item> 
                <button mat-icon-button routerLink="lazy" class="hidden-sm-down">
                    lazy
                </button>
            </mat-list-item>
            <mat-list-item> 
                <button mat-icon-button routerLink="barComp" class="hidden-sm-down">
                    Bar
                </button>
            </mat-list-item>
        </mat-list>
        -->
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



