<div class = "mat-app-background">
  <!--
  <ng-template #leftContent>
      <button mat-icon-button class="hidden-md-up">
        <mat-icon>menu</mat-icon>
      </button>
  </ng-template>
  
  <ng-template #rightContent>
    <button mat-icon-button routerLink="settings" class="hidden-sm-down">
      <mat-icon>settings</mat-icon>
    </button>
  </ng-template>

  
  <app-navbar [leftContentTemplate]="leftContent" [rightContentTemplate]="rightContent" [title] ="title">
  </app-navbar>
  <router-outlet></router-outlet>
  

  
  
  <layout [navBarRightContent]="rightContent">
    <div class="layout-sidenav">
      <mat-list>
        <mat-list-item> 
            <a routerLink="" class="branding hidden-md-up text-center"><img style="height:25px" src="../assets/logo.png" /> Angular Content</a>
        </mat-list-item>
        <mat-list-item> 
            <button mat-icon-button routerLink="lazy" class="hidden-sm-down">
                lazy
            </button>
        </mat-list-item>
        <mat-list-item> 
            <button mat-icon-button routerLink="barComp" class="hidden-sm-down">
                Bar
            </button>
        </mat-list-item>
      </mat-list>
    </div>
  </layout>
  -->
  <app-layout></app-layout>
</div>


