// the partial scss defines a deep purple amber theme
// Define the light theme.
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$deeppurple-theme: mat-light-theme($primary, $accent);
