@use '@angular/material' as mat;
// Define the dark theme.
$primary: mat.define-palette(mat.$purple-palette);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$purple-theme: mat.define-dark-theme($primary, $accent);
