 <mat-toolbar color="primary" class="toolbar mat-elevation-z2">
   <mat-toolbar-row>
      <ng-container 
        *ngTemplateOutlet="leftContentTemplate">
      </ng-container>
      <div>{{title}}</div>
          <a routerLink="" class="branding hidden-md-up text-center"><img style="height:25px" src="../assets/logo.png" /> Angular Content</a>
          <button mat-icon-button routerLink="lazy" class="hidden-sm-down">
            lazy
          </button>
          <button mat-icon-button routerLink="barComp" class="hidden-sm-down">
            Bar
          </button>
          <!-- This fills the remaining space of the current row -->
          <span class="spacer"></span>

    <ng-container 
      *ngTemplateOutlet="rightContentTemplate">
    </ng-container>
   </mat-toolbar-row>
   <mat-toolbar-row>
     <button>Second Row</button>
   </mat-toolbar-row>
 </mat-toolbar>
