 <mat-toolbar color="primary" class="toolbar mat-elevation-z2">
  
  <ng-template #defaultTabButtons>
    <div class="default-tab-buttons">
      internal button
    </div>
  </ng-template>
<!--
   <ng-container 
     *ngTemplateOutlet="defaultTabButtons">
   </ng-container>
   --->
        <!--
        <button mat-icon-button class="hidden-md-up">
          <mat-icon>menu2</mat-icon>
        </button>
         -->
      
        <a routerLink="" class="branding hidden-md-up text-center"><img style="height:25px" src="../assets/logo.png" /> Angular Content</a>
        <button mat-icon-button routerLink="lazy" class="hidden-sm-down">
          lazy
        </button>
        <button mat-icon-button routerLink="barComp" class="hidden-sm-down">
          Bar
        </button>
        <!-- This fills the remaining space of the current row -->
        <span class="spacer"></span>
       

        <button mat-icon-button routerLink="settings" class="hidden-sm-down">
          <mat-icon>settings</mat-icon>
        </button>


      </mat-toolbar>
