// app level theming. 
// All custom components should expose their minxin, and add an entry in the file to 
// include its theme style.
// This is equivalent to angular-material-theme mixin for all material components
@import 'app/_app.component-theme';  // theme for app.component

// Styles for the app that are based on the current theme.
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // invoke mixins for each custom component in current app
  @include app-component-theme($theme);
}