<!--
  A template which will be projected into the layoutComponent to customize the toolbar
-->
<ng-template #rightContent>
  <button mat-icon-button 
    *ngFor="let route of toolBarRightRoutes" 
    [routerLink]="route.path" class="hidden-sm-down">
    <mat-icon>{{route.title}}</mat-icon>
  </button>
</ng-template>

<layout [title]="title" [navBarRightContent]="rightContent">
  <!-- ng-content to be projected into the side navigation panel: selected by div.layout-sidenav-->
    <div class="layout-sidenav">
      <mat-list>
        <mat-list-item *ngFor="let route of sideBarRoutes"> 
          <a [routerLink]="route.path" class="branding hidden-md-up text-center">{{ route.title }}</a>
        </mat-list-item>
      </mat-list>
    </div>
</layout>
